body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    135deg,
    rgb(190, 240, 246) 0%,
    rgb(226, 158, 158) 50%,
    rgb(224, 158, 159) 50%,
    rgb(219, 168, 168) 100%
  );
}
